<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Login page</title>
</head>

<body>
<div>
    <form name="f" th:action="@{/login}" method="post" th:object="${userAccount}">
        <fieldset>
            <legend>Please login</legend>

            <div th:if="${(userAccount.userName!=null || userAccount.password!=null) && securityBean.currentUserAccount == null}"
                 class="alert alert-error">
                <span style="color: red; ">Invalid username or password</span>
            </div>

            <div th:if="${securityBean.currentUserAccount != null && !securityBean.userActive}" class="alert alert-error">
                <span style="color: red;">User account is inactive</span>
            </div>

            <label for="userName"> User Name</label>
            <input type="text" th:field="*{userName}" id="userName"/>
            <label for="password"> Password</label>
            <input type="text" th:field="*{password}" id="password"/>
            <div class="form-actions">
                <button type="submit" class="btn">Log in</button>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>